
h1{
    font-size: 70px;
    text-align: center;
    position: absolute;
    width: 100%;
    text-shadow: 2px 2px 4px black;
    color:white;
}
.busqueda_simple{
    text-align: center;
    width: 100%;
    position: absolute; /* permite que la barra de busqueda se monte sobre la imagen de banner */
    top: 400px;
}
.busqueda_avanzada{
    font-size: 20px; /* es importante redimensionar la barra de busqueda ya que aun desconozco porque no recibe las peticiones */
    text-align: center;
}
h2{
    font-size: 30px;
    text-align: center;
}
 
/* hace falta los arreglos css respecto a los colores y tipo de fuente a utilizar */    